BACKEND_DB_URL=jdbc:postgresql://backend_db:5432/task_tracker_backend_db
BACKEND_DB_NAME=task_tracker_backend_db

SCHEDULER_DB_URL=jdbc:postgresql://scheduler_db:5432/task_tracker_scheduler_db
SCHEDULER_DB_NAME=task_tracker_scheduler_db

DB_USERNAME=postgres
DB_PASSWORD=postgres

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=769783393f00a7684ff30000de89a34a0315b8d48f2450baf01b68850df5bbe1

KAFKA_BOOTSTRAP_SERVERS=kafka:9090
KAFKA_CLUSTER_ID=ttV9Gm1jT1e3x8QwA6dA2P

MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password

MINIO_ENDPOINT=http://minio:9000
MINIO_USER=minioAdmin
MINIO_PASSWORD=minioAdmin