spring:
  application:
    name: task-tracker-backend
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    open-in-view: false
  data:
    redis:
      port: ${REDIS_PORT}
      host: ${REDIS_HOST}
  kafka:
    producer:
      bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
      acks: all
security:
  jwt:
    secret: ${JWT_SECRET}
    access_token_expiration: 30
    refresh_token_expiration: 300
    redis:
      access_token_prefix: 'access:token:'
      refresh_token_prefix: 'refresh:token:'
      user_token_prefix: 'user:tokens:'
kafka:
  topic-name: EMAIL_SENDING_TASKS