server:
  port: 0
spring:
  application:
    name: task-tracker-scheduler
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    open-in-view: false
  kafka:
    producer:
      bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
      acks: all
      properties:
        spring:
          json:
            type.mapping: MessageDto:com.walking.scheduler.domain.dto.MessageDto
kafka:
  topic-name: EMAIL_SENDING_TASKS